<!doctype html>
<html ng-app="angular-notification-icons.demo">
  <head>
    <meta charset="utf-8">
    <title>angularNotifications</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css">
    <link rel="stylesheet" href="styles/app.css">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" ng-controller="DemoController as vm">
      <div class="page-header">
        <h1>angular-notification-icons</h1>
        <a href="https://github.com/jacob-meacham/angular-notification-icons">github</a>
      </div>

      <div class="getting-started" id="basic">
        <h2>Getting Started</h2>
        <div class="row">
          <div class="col-md-2">
            <notification-icon count='vm.autoPending[0]'>
              <i class="fa fa-envelope-o fa-3x"></i>
            </notification-icon>
          </div>
        </div>

        <div hljs>
<notification-icon count='vm.autoPending[0]'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>
        </div>
        <hr>
      </div>

      <div class="animations" id="animations">
        <h2>Default Animations</h2>
        <div class="row">
          <div class="col-md-2">
            <notification-icon animation='grow' ng-init="vm.animationsPending = 0" count='vm.animationsPending'>
              <i class="fa fa-envelope-o fa-3x"></i>
            </notification-icon>
            Grow
          </div>

          <div class="col-md-2">
            <notification-icon animation='bounce' count='vm.animationsPending'>
              <i class="fa fa-envelope-o fa-3x"></i>
            </notification-icon>
            Bounce
          </div>

          <div class="col-md-2">
            <notification-icon animation='shake' count='vm.animationsPending'>
              <i class="fa fa-envelope-o fa-3x"></i>
            </notification-icon>
            Shake
          </div>

          <div class="col-md-2">
            <notification-icon animation='none' disappear-animation='bounce' count='vm.animationsPending'>
              <i class="fa fa-envelope-o fa-3x"></i>
            </notification-icon>
            Bounce on disappear
          </div>
        </div>

        <div class="buttons">
          <button class="btn btn-dark" ng-click="vm.animationsPending = vm.animationsPending + 1">Add Notification</button>

          <button class="btn btn-dark" ng-click="vm.animationsPending = 0">Clear Notifications</button>
        </div>

        <div class="code">
          <div hljs>
<notification-icon animation='grow' count='vm.pending'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>

<notification-icon animation='bounce' count='vm.pending'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>

<notification-icon animation='shake' count='vm.pending'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>

<notification-icon animation='none' disappear-animation='bounce' count='vm.pending'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>
          </div>
        </div>
        <hr>
      </div>

      <div class="custom-style" id="custom-style">
        <h2>Custom style and animations</h2>
        <notification-icon animation='my-custom-animation' ng-init="vm.customPending = 0" count='vm.customPending'>
          <i class="fa fa-envelope-o fa-3x"></i>
        </notification-icon>

        <div class="buttons">
          <button class="btn btn-dark" ng-click="vm.customPending = vm.customPending + 1">Add Notification</button>

          <button class="btn btn-dark" ng-click="vm.customPending = 0">Clear Notifications</button>
        </div>

        <div class="code">
          <div class="row">
            <div class="col-md-6">
              JS
              <div hljs>
<notification-icon animation='my-custom-animation' ng-init="vm.customPending = 0" count='vm.customPending'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>
              </div>
            </div>
            <div class="col-md-6">
              CSS
              <div hljs>
.custom-style .angular-notification-icons-icon {
  left: -10px;
  background: yellow;
  color: black;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  font-size: 1.2em;
}

.angular-notification-icons-icon.my-custom-animation {
  transition:0.5s linear all;
}

.angular-notification-icons-icon.my-custom-animation-add {
  background: black;
  color: white;
}

.angular-notification-icons-icon.my-custom-animation-add-active {
  background: yellow;
  color: black;
}
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>

      <div class="dom" id="dom-events">
        <h2>DOM Events</h2>
        <div class="row">
          <div class="col-md-2">
            <notification-icon ng-init='vm.mycount' count='vm.domCount' clear-trigger='click'>
              <button class="btn btn-dark">Click to Clear</button>
            </notification-icon>
          </div>
          <div class="col-md-2">
            <notification-icon count='vm.domCount' clear-trigger='mouseover'>
              <button class="btn btn-dark">Hover to Clear</button>
            </notification-icon>
          </div>
        </div>

        <div class="buttons">
          <button class="btn btn-dark" ng-click="vm.domCount = vm.domCount + 1">Add Notification</button>
        </div>

        <div class="code">
          <div hljs>
<notification-icon ng-init='vm.mycount' count='vm.domCount' clear-trigger='click'>
  <button class="btn btn-dark">Click to Clear</button>
</notification-icon>

<notification-icon count='vm.domCount' clear-trigger='mouseover'>
  <button class="btn btn-dark">Hover to Clear</button>
</notification-icon>
          </div>
        </div>
        <hr>
      </div>

      <div class="hidden-counter" id="hide-count">
        <h2>Hidden Counter</h2>
        <notification-icon appear-animation='grow' update-animation='none' disappear-animation='grow' ng-init="vm.hiddenPending" hide-count="true" count='vm.hiddenPending'>
          <i class="fa fa-envelope-o fa-3x"></i>
        </notification-icon>

        <div class="buttons">
          <button class="btn btn-dark" ng-click="vm.hiddenPending = vm.hiddenPending + 1">Add Notification</button>

          <button class="btn btn-dark" ng-click="vm.hiddenPending = 0">Clear Notifications</button>
        </div>

        <div class="code">
          <div hljs>
<notification-icon appear-animation='grow' update-animation='none' disappear-animation='grow' ng-init="vm.hiddenPending" hide-count="true" count='vm.hiddenPending'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>
          </div>
        </div>
        <hr>
      </div>

      <div class="always-show" id="always-show">
        <h2>Always Show</h2>
        <notification-icon animation='shake' ng-init="vm.alwaysShowCount = 0" count='vm.alwaysShowCount' always-show='true'>
          <i class="fa fa-envelope-o fa-3x"></i>
        </notification-icon>

        <div class="buttons">
          <button class="btn btn-dark" ng-click="vm.alwaysShowCount = vm.alwaysShowCount + 1">Add Notification</button>

          <button class="btn btn-dark" ng-click="vm.alwaysShowCount = (vm.alwaysShowCount - 1)">Remove Notification</button>
        </div>

        <div class="code">
          <div hljs>
<notification-icon animation='shake' ng-init="vm.alwaysShowCount = 0" count='vm.alwaysShowCount' always-show='true'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>
          </div>
        </div>
        <hr>
      </div>

      <div class="pill" id="pill">
        <h2>Pill Shape</h2>
        <div class="row">
          <div class="col-md-2">
            <notification-icon count='vm.autoPending[1]'>
              <i class="fa fa-envelope-o fa-3x"></i>
            </notification-icon>
          </div>
        </div>

        <div hljs>
<notification-icon count='vm.autoPending[1]'>
  <i class="fa fa-envelope-o fa-3x"></i>
</notification-icon>
        </div>
        <hr>
      </div>

      <div class="setup">
        <h2>Usage</h2>
        <h3>1. Install bower component</h3>
        <div hljs>
bower install angular-notification-icons --save
        </div>

        <h3>2. Add css and script</h3>
        <div hljs source="'{{vm.scriptSrc}}'">
        </div>

        <h3>3. Add a dependency to your app</h3>
        <div hljs>
angular.module('MyApp', ['angular-notification-icons']);
        </div>

        <h3>4. Add a notification-icon element around any other element</h3>
        <div hljs>
<notification-icon count='scopeVariable'>
  ...
</notification-icon>
        </div>
      </div>
    </div>

    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->

    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->

  </body>
</html>
