.angular-notifications-container {
    position: relative;
    display: table-cell;
    width: 100%;
}

.angular-notifications-overlay {
    position: absolute;
    z-index: 1;
}

.angular-notifications-icon {
    right: -10px;
    border-radius: 50%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 20px;
    height: 20px;
    background: red;
}

// TODO: Add this class when the width gets too large
.wide-icon {
    border-radius: "20% / 50%";
}

//grow
//bounce
//fade
// shake